/**
 * Styles
 */
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/InterVariable.woff2') format('woff2');
  font-weight: 400 700;
  font-display: swap;
}

:root {
  --pico-font-family-sans-serif: 'Inter', system-ui, sans-serif;
  --color-olive-drab: #898e5d;
  --color-crimson: #ba4147;
  --color-royal-blue: #2e65c5;
}

@media (min-width: 576px) {
  :root {
    --pico-font-size: 100%;
  }
}
@media (min-width: 768px) {
  :root {
    --pico-font-size: 106.25%;
  }
}
@media (min-width: 1024px) {
  :root {
    --pico-font-size: 112.5%;
  }
}
@media (min-width: 1280px) {
  :root {
    --pico-font-size: 118.75%;
  }
}

h1 {
  --pico-font-weight: 600;
  --pico-font-size: 3rem;
  @media (min-width: 768px) {
      --pico-font-size: 4rem;
  }
}

section {
  margin-bottom: calc(var(--pico-spacing) * 2);
}

details {
  margin-bottom: 8px;
  
  &:last-of-type {
    margin-bottom: var(--pico-spacing);
  }
}

header {
  .container {
    display: grid;
    align-items: center;
    
    @media (min-width: 380px) {
      grid-template-columns: 1fr auto;
    }
  }
}

footer {
  * {
    font-size: .8rem;
  }
  p {
    color: var(--pico-muted-color);
  }
  nav li {
    padding-bottom: 0;
    
    a {
      padding-top: 0;
      
      &:hover {
        color: var(--pico-muted-color);
        text-decoration-color: var(--pico-muted-color);
      }
    }
  }
  
  nav.legal {
    ul {
      flex-wrap: wrap;
    }
    li {
      padding: 0 0 0 var(--pico-nav-element-spacing-horizontal);
      &:not(:last-child)::after {
        content: "·";
        color: var(--pico-muted-color);
        padding-left: var(--pico-nav-link-spacing-horizontal);
      }
    } 
  }
}

figure {
  text-align: center;
  margin-bottom: var(--pico-spacing);

  figcaption {
    font-size: 0.875rem;
  }
}

/**
 * Global
 */
.site-title {
  text-decoration: none;
}

.subtitle {
  color: var(--pico-muted-color);
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.lead {
  font-size: 1.125rem;
}

.bleed {
  margin-inline: calc(var(--pico-spacing) * -1);
  @media (min-width: 1024px) {
    margin-inline: calc(var(--pico-spacing) * -3);
  }
  margin-top: calc(var(--pico-spacing) * 2);
  img {
    width: 100%;
    height: clamp(350px, 50vw, 550px);
    object-fit: cover;
    object-position: center;  
  }
}


@media (min-width: 1024px) {
  .narrow {
    max-width:40rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.notice {
  padding: calc(var(--pico-spacing) * 2);
  background-color: var(--pico-code-background-color);
  border-left-color: var(--pico-primary);
  border-radius: 4px;
}

/**
 * Home
 */
.home-apex {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 12px;
  grid-auto-flow: row;
  justify-content: start;
  margin: 0;
  text-align: center;

  p {
    background-color: var(--pico-secondary-background);
    border-radius: 12px;
    color: var(--pico-primary-inverse);
    font-size: .9rem;
    padding: 1rem;
  }
}

.home-fabrics {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 12px;
  grid-auto-flow: row;
  justify-items: start;
  justify-content: start;
  width: auto;

  div {
    &:first-of-type {
      background-color: var(--color-olive-drab);
    }

    &:nth-of-type(2) {
      background-color: var(--color-crimson);
    }

    &:last-of-type {
      background-color: var(--color-royal-blue);
    }

    border-radius: 100%;
    height: 3.5rem;
    width: 3.5rem;
  }
}

/**
 * Product
 */
.product-gallery {
  position: relative;
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }

  &:hover button {
    opacity: 1;
    pointer-events: auto;
  }
}

.product-thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: 0.5rem;
  margin-top: 0.5rem;
  justify-items: center;
  align-items: center;
  
  img {
    cursor: pointer;
    border: 2px solid transparent;
    &.active {
      border-color: var(--pico-primary-border);
    }
  } 
}

#prev { left: 0.5rem; }
#next { right: 0.5rem; }

.product-form legend {
  font-weight: 600;
}

.product-specs {
  background-color: var(--pico-code-background-color);
  border-radius: 4px;
  font-size: .9rem;
  padding: calc(var(--pico-spacing) * 2);
  
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1.5fr;
  }
}

.product-sizes {
  text-align:center;
  header {
    color: var(--pico-secondary-inverse);
    background-color: var(--pico-secondary-background);
  }

  small {
    color: var(--pico-muted-color);
  }
  table {
    border: 1px solid var(--pico-muted-border-color);
    th, td {
      text-align:center;
    }
  }
}

.not-available {
  color: var(--pico-del-color);
  font-weight: 700;
}

.product-review {
  font-size: 0.875rem;

  header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
  
  h3 {
    font-size: 1rem;
  }

  img {
    max-width: 100px;
    max-height: 100px;
    float: right;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

/**
* FAQ
*/
.top {
  text-align: right;
}

.table-of-contents{
  li {
    padding-bottom: 0;
    padding-top: 0;
    line-height: 1rem;
  }
  
  ul ul {
    padding-left: 1.5rem;
  }
}